:root {
  --clr-red-hsl: 1 90% 64%;
  --clr-blue-hsl: 219 85% 26%;

  --clr-red: hsl(var(--clr-red-hsl));
  --clr-blue: hsl(var(--clr-blue-hsl));

  --clr-n-hsl-1: 210 60% 98%;
  --clr-n-hsl-2: 211 68% 94%;
  --clr-n-hsl-3: 205 33% 90%;
  --clr-n-hsl-4: 219 63% 63%;
  --clr-n-hsl-5: 219 12% 42%;
  --clr-n-hsl-6: 224 21% 14%;

  --clr-n-1: hsl(var(--clr-n-hsl-1));
  --clr-n-2: hsl(var(--clr-n-hsl-2));
  --clr-n-3: hsl(var(--clr-n-hsl-3));
  --clr-n-4: hsl(var(--clr-n-hsl-4));
  --clr-n-5: hsl(var(--clr-n-hsl-5));
  --clr-n-6: hsl(var(--clr-n-hsl-6));
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
